.con {
  &-row {
    display: flex;
    gap: 20px;
  }

  &-col {
    width: 50%;
  }
}

.lecture {
  &-room {
    color: #000;
  }

  &-setting {
    .cam {
      &-box {
        width: 100%;
        max-width: 387px;
        margin-bottom: 30px;
      }

      &-notice {

      }
    }
  }

  &-assistant {

  }

  &-call {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &-item {
      width: 237px;
      aspect-ratio: 237 / 140;
      border: {
        color: #eee;
        radius: 20px;
        style: solid;
        width: 1px;
      };
      background-color: #F2F3F8;
      &:is(button) {
        border-color: rgba(238, 238, 238, 0.5);
        background-color: #fff;
      }
    }
  }
}

.layer {
  @mixin layer($padding: 30px) {
    position: absolute;
    z-index: 10;
    border: {
      radius: 20px;
    };
    background: {
      color: #fff;
    }
    max-width: calc(100dvw - 104px);
    max-height: calc(100dvh - 40px);

    .layer {
      &-wrap {
        display: flex;
        flex-direction: column;
        max-height: calc(100dvh - 87px);
      }

      &-body {
        overflow: auto;
        margin: 5px;
        padding: {
          top: 25px;
          right: #{$padding - 9px};
          bottom: 25px;
          left: #{$padding - 5px};
        };
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px;
      }
    }
  }

  &-center {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 32px), -50%);
    //width: 100%;
    @include layer(70px);
  }

  &-right-top {
    top: 20px;
    right: 84px;
    @include layer;
  }

  &-right-center {
    top: 50%;
    right: 84px;
    transform: translate(0, -50%);
    @include layer;
  }

  &-right-bottom {
    bottom: 20px;
    right: 84px;
    @include layer;
  }
}
