$res_root: 'http://localhost:3000';

.con {
  &-row {
    display: flex;
    gap: 20px;
  }

  &-col {
    width: 50%;
  }
}
/*!
 * 영상
 */
.lecture {
  &-room {
    color: #000;
  }

  &-setting {
    .cam {
      &-view {
        position: relative;
        width: 315px;
        height: 186px;
      }

      &-box {
        width: 100%;
        max-width: 387px;
        margin-bottom: 30px;
      }

      &-notice {

      }
    }
  }

  &-assistant {

  }

  &-call {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 484px;
    }

    &-item {
      position: relative;
      flex: 0 1 calc(50% - 9px);
      //aspect-ratio: 235 / 138; // 동영상의 비율이 16:9아닌 이유는?
      aspect-ratio: 16 / 9;
      overflow: hidden;
      box-sizing: content-box;
      min-width: 235px;

      &:is(button) {
        color: #ccc;
        font: {
          size: 13px;
          weight: 500;
        };
        border: 1px solid rgba(238, 238, 238, 0.5);
        border-radius: 20px;
        background-color: #fff;
      }
    }

    &-none-camera {
      font: {
        size: 13px;
        weight: 500;
      };
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 120px;
      height: 29px;
      border: {
        radius: calc(29px / 2);
      };
      box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.05);
      background-color: #fff;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 768px) {
      &-list {
        width: auto;
      }
      &-item {
        flex: 0 1 100%;
      }
    }
  }

  &-chromakey {
    display: flex;
    gap: 22px;

    &-color {
      width: 302px;
      aspect-ratio: 302 / 230;
      padding: 9px;
      border: 1px solid #EEEEEE;
      border-radius: 20px;

      &-select {
        width: 100%;
        aspect-ratio: 282 / 116;
        margin-bottom: 16px;
        border: {
          radius: 20px;
        };
        background-color: #F2F3F8;
      }

      &-range {
        margin-bottom: 10px;
      }

      &-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-left: 63px;

        button:not(.lecture-chromakey-picker) {
          width: 24px;
          height: 24px;
          border-radius: 8px;

          &:not([style]) {
            border: 1px solid #EEEEEE;
          }
        }
      }
    }

    &-video {
      order: 1;
      position: relative;
      overflow: hidden;
      width: 302px;
      aspect-ratio: 302 / 230;
      background-color: #F2F3F8;
      border: 1px solid #EEEEEE;
      border-radius: 20px;

      label {
        position: absolute;
        right: 9px;
        bottom: 9px;
        display: flex;
        align-items: center;

        span {
          order: 0;
          color: #fff;
          font: {
            size: 20px;
            weight: 500;
          };
          margin-right: 10px;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;

          &:checked ~ i {
            &::before {
              background-color: #8265F6;
            }

            &::after {
              transform: translateX(100%);
            }
          }
        }

        i {
          position: relative;
          display: block;
          width: 50px;
          height: 28px;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 14px;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #D0D0D0;
            transition: background-color 0.3s;
          }

          &::after {
            content: '';
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            margin: 4px;
            border-radius: 10px;
            background-color: #fff;
            transition: transform 0.3s;
          }
        }
      }

      .video {
        width: 100%;
        height: 100%;
        background-color: #000;
      }
    }

    &-pointer {
      cursor: grab;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 29px;
      background: {
        image: url($res_root + '/resources/img/color-picker-pointer.svg');
      };

      &:active {
        cursor: grabbing;
      }
    }

    &-picker {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      flex: none;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: {
        image: url($res_root + '/resources/img/color-picker.svg');
      };
      transform: translateY(-50%);
      transition: background-color 0.3s;

      &.active {
        background-color: rgba(130, 101, 246, 0.15);
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;

      &-color {
        width: 100%;
      }

      &-video {
        order: initial;
        width: 100%;
      }
    }
  }
}

/*!
 * color range
 */
.color-range {
  position: relative;
  height: 15px;
  border-radius: calc(15px / 2);

  i {
    cursor: ew-resize;
    position: absolute;
    top: -6px;
    z-index: 1;
    display: block;
    width: 10px;
    height: 10px;
    background: {
      image: url($res_root + '/resources/img/color-picker-range.svg');
    };
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: calc(15px / 2);
    pointer-events: none;
  }
}

/*!
 * form
 */
.request {
  &-group {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &-title {
    font: {
      weight: 700;
      size: 13px;
    };
  }

  &-inline {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-remove {
    font: 0/0 a;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 2px;
      height: 8.57px;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 8.57px;
      height: 2px;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }

  &-input {
    font: {
      weight: 400;
      size: 13px;
    };
    display: flex;
    align-items: center;
    gap: 10px;
    height: 51px;
    border-bottom: 1px solid #eee;

    input {
      flex: 1;
      height: 100%;
      border: 0;

      &::placeholder {
        font: {
          size: 13px;
          weight: 400;
        }
        color: #000;
        opacity: 0.15;
      }
    }
  }

  &-textarea {
    width: 292px;
    height: 143px;

    textarea {
      width: 100%;
      height: 100%;
      padding: 20px;
      border: {
        width: 1px;
        style: solid;
        color: #eee;
        radius: 10px;
      };

      &::placeholder {
        font: {
          size: 13px;
          weight: 400;
        }
        color: #000;
        opacity: 0.15;
      }
    }
  }

  &-select {
    font-size: 11px;
    position: relative;
    min-width: 100px;
    border-bottom: 1px solid #eee;

    &-toggle {
      .request-select-head {
        &::after {
          transform: scaleY(-1);
        }
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      padding: 6px 13px;

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background: {
          repeat: no-repeat;
          image: url(http://localhost:3000/resources/img/downArrow12.svg);
        };
      }
    }

    &-list {
      position: absolute;
      top: 25px;
      left: 0;
      z-index: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      max-height: 105px;
      background: #fff;
      border: 1px solid #E6E8F1;
      border-radius: 0 0 10px 10px;
    }

    &-item {
      text-align: left;
      display: block;
      padding: 10px 13px;
    }
  }
}

/*!
 * table
 */
.table {
  &-list {
    text-align: center;

    thead {
      th {
        color: rgba(34, 34, 34, 0.5);
        font: {
          weight: 700;
          size: 11px;
        };
        height: 39px;
        background-color: #F6F6F6;

        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
    }

    td {
      color: rgba(#222, 0.8);
      font: {
        weight: 600;
        size: 11px;
      };
      height: 50px;
      border-bottom: 1px solid #F1F1F1;
    }
  }
}

/*!
 * webcam
 */
.webcam {
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #F2F3F8;
  box-sizing: content-box;
  border: 1px solid #EEEEEE;
  border-radius: 20px;

  &-video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  &-none-camera {
    font: {
      weight: 500;
      size: 13px;
    };
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 119px;
    height: 29px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    transform: translate(-50%, -50%);
  }

  &-info {
    position: absolute;
    bottom: 9px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 9px;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 9px;
    margin-bottom: 3px;
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
  }

  &-user {
    display: inline-flex;
    align-items: center;
    justify-self: flex-start;

    &-image {
      overflow: hidden;
      display: inline-flex;
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border: {
        radius: 50%;
      };
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      color: #FFFFFF;
      font: {
        size: 12px;
        weight: 500;
      };
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    }

    ~ .webcam-buttons {
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
}

/*!
 * layer
 */
.layer {
  @mixin layer($type: 'default') {
    $padding: 0;
    $padding-footer: 0;
    @if ($type == 'default') {
      $padding: 30px;
      $padding-footer: $padding;
    } @else {
      $padding: 70px;
      $padding-footer: 48px;
    }
    position: absolute;
    z-index: 10;
    border: {
      radius: 20px;
    };
    background: {
      color: #fff;
    }
    max-width: calc(100dvw - 104px);
    max-height: calc(100dvh - 40px);

    .layer {
      &-head {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        //width: 100%;
        padding: 15px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #000;
        border-bottom: 1px solid #eee;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        max-height: calc(100dvh - 87px);
      }

      &-body {
        overflow: scroll;
        margin: 5px;
        padding: {
          top: 25px;
          right: #{$padding - 9px}; // scrollbar width 4px
          bottom: #{25px - 6px}; // scrollbar height 6px
          left: #{$padding - 5px};
        };

        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 $padding-footer 30px;
      }
    }

    &.layer-none-scroll {
      .layer-body {
        overflow: visible;
        padding: {
          top: 25px;
          right: #{$padding - 5px};
          bottom: 25px;
          left: #{$padding - 5px};
        };
      }
    }
  }

  &-center {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 32px), -50%);
    //width: 100%;
    @include layer($type: 'center');
    width: 787px;
  }

  &-right-top {
    top: 20px;
    right: 84px;
    @include layer;
  }

  &-right-center {
    top: 50%;
    right: 84px;
    transform: translate(0, -50%);
    @include layer;
  }

  &-right-bottom {
    bottom: 20px;
    right: 84px;
    @include layer;
  }
}

/*!
 * button
 */
.button {
  $primary: #8265F6;
  $outline: #bbb;
  $outline-sm: #ddd;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(.button-sm) {
    font: {
      weight: 700;
      size: 20px;
    };
    width: 100%;
    max-width: 335px;
    min-width: 160px;
    height: 55px;
    border-radius: calc(55px / 2);
  }

  &-sm {
    font: {
      weight: 400;
      size: 11px;
    };
    height: 26px;
    padding: {
      right: 18px;
      left: 18px;
    };
    border-radius: 13px;
  }

  &-outline {
    color: #333;
    border: {
      width: 1px;
      style: solid;
      color: $outline;
    }

    &.button-sm {
      color: #222;
      border-color: $outline-sm;
    }
  }

  &-primary {
    color: #fff;
    background-color: $primary;
  }
}

/*
 * 투표
 */
.poll {
  &-create {
  }

  &-list {
    .table-list {
      del {
        color: #999;
        text-decoration: none;
      }
    }
  }

  &-chart {
    &-title {
      font: {
        weight: 700;
        size: 12px;
      };
      padding: 20px;
    }
    &-info {
      font: {
        size: 11px;
      };
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border: {
        width: 1px 0;
        style: solid;
        color: #F1F1F1;
      };

      div {
        flex: 1;
      }

      span {
        font-weight: 500;

        &::after {
          content: '';
          vertical-align: middle;
          display: inline-block;
          width: 1px;
          height: 9px;
          margin: 0 6px;
          background-color: #ddd;
        }
      }

      strong {
        font-weight: 700;
      }
    }
    &-list {
      margin-bottom: 10px;
      li {
        margin-top: 10px;
      }
      label {
        position: relative;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        + div {
          font-size: 11px;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 39px;
          padding: 0 19px;
          border-radius: 5px;
          background-color: rgba(246, 246, 246, 0.5);
        }
      }
      input:checked {
        + div {
          color: #8265F6;
          font-weight: 700;
          box-shadow: inset 0 0 0 1px #8265F6;
        }
      }
    }
    &-graph {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      pointer-events: none;
      background-color: rgba(130, 101, 246, 0.1);
    }
    &-desc {
      color: #bbb;
      font: {
        weight: 400;
        size: 11px;
      };
    }
  }
}
