/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, iframe, object, embed, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, a, abbr, address, b, bdo, blockquote, cite, code, del, dfn, p, pre, em, i, ins, kbd, q, s, samp, strong, sub, sup, u, var, img, map, area, form, fieldset, legend, input, textarea, select, button, label, keygen, table, caption, thead, tbody, tfoot, tr, th, td, article, aside, audio, bdi, canvas, datalist, details, dialog, figcaption, figure, footer, header, main, mark, menu, menuitem, meter, nav, output, progress, section, rp, rt, ruby, summary, time, video, wbr, hr {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, pre, input, button, select, textarea {
  font: inherit;
}

input, button, select, textarea {
  color: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a, a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover, a:active {
  color: #333;
  text-decoration: none;
}

input, select, label, img, button {
  vertical-align: middle;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

img, video {
  border: 0;
  vertical-align: top;
}

fieldset {
  border: 0;
  min-width: 0;
  width: 100%;
}

ul, ol, dl {
  list-style: none;
}

ol {
  margin-left: 15px;
}

a, button, label {
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
}

i, em, address {
  font-style: normal;
  font-weight: normal;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a[href] {
  color: inherit;
  -webkit-tap-highlight-color: inherit;
}

abbr {
  text-decoration: none;
}

.blind, legend, hr, caption {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}

.hidden, #skipNav {
  display: block;
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

#skipNav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #E6E8F1;
  border-radius: 3px;
  padding-left: 20px;
}

/* padding / margin */
.pdt30 {
  padding-top: 30px !important;
}

.pdb5 {
  padding-bottom: 5px !important;
}

.pdb10 {
  padding-bottom: 10px !important;
}

.pdl5 {
  padding-left: 5px !important;
}

.pdl6 {
  padding-left: 6px !important;
}

.pdl12 {
  padding-left: 12px !important;
}

.bd0 {
  border: 0;
}

.mgt6 {
  margin-top: 6px !important;
}

.img12 {
  width: 12px;
  height: 12px;
}

.img60 {
  width: 60px;
  height: 60px;
}

.tit-12 {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #333333;
}
.tit-13Wt {
  font-weight: 700;
  line-height: 100%;
  font-size: 13px;
  color: #fff;
}
.tit-13Gy2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 13px;
  color: #222;
}
.tit-13Bk {
  font-weight: 700;
  line-height: 100%;
  font-size: 13px;
  color: #000;
}
.tit-14Gy2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  color: #222;
}
.tit-15Bk {
  font-weight: 600;
  line-height: 100%;
  font-size: 15px;
  color: #000;
}
.tit-15Bk-02 {
  font-weight: 700;
  line-height: 100%;
  font-size: 15px;
  color: #000;
}
.tit-16Gy3 {
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  color: #333;
}
.tit-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
.tit-18Bk2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 18px;
  color: #222;
}
.tit-20Gy3 {
  font-weight: 700;
  line-height: 100%;
  font-size: 20px;
  color: #333;
}
.tit-24Wt {
  font-weight: 700;
  line-height: 100%;
  font-size: 24px;
  color: #fff;
}
.tit-25Gy1 {
  font-weight: 700;
  line-height: 100%;
  font-size: 25px;
  color: #111;
}
.tit-26Wt {
  font-weight: 700;
  line-height: 100%;
  font-size: 26px;
  color: #fff;
}
.tit-30Bk2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  color: #222;
}

.txt-9Wt {
  font-weight: 500;
  line-height: 100%;
  font-size: 9px;
  color: #fff;
}
.txt-10Bk2 {
  font-weight: 400;
  line-height: 100%;
  font-size: 10px;
  color: #222;
}
.txt-11Wt {
  font-weight: 500;
  line-height: 100%;
  font-size: 11px;
  color: #fff;
}
.txt-11Gy112 {
  font-weight: 300;
  line-height: 100%;
  font-size: 11px;
  color: rgba(112, 112, 112, 0.4);
}
.txt-11Gy2 {
  font-weight: 400;
  line-height: 100%;
  font-size: 11px;
  color: #222;
}
.txt-11Gy3 {
  font-weight: 400;
  line-height: 100%;
  font-size: 11px;
  color: #333;
}
.txt-11Gy17 {
  font-weight: 500;
  line-height: 100%;
  font-size: 11px;
  color: rgba(17, 17, 17, 0.5);
}
.txt-11 {
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  color: #333333;
}
.txt-11Bk2 {
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #222;
}
.txt-12Bk {
  font-weight: 400;
  line-height: 100%;
  font-size: 12px;
  color: #000;
}
.txt-12Gy3 {
  font-weight: 500;
  line-height: 100%;
  font-size: 12px;
  color: #333;
}
.txt-12Gy6 {
  font-weight: 500;
  line-height: 100%;
  font-size: 12px;
  color: #666;
}
.txt-13Wt {
  font-weight: 300;
  line-height: 100%;
  font-size: 13px;
  color: #fff;
}
.txt-13GyC {
  font-weight: 400;
  line-height: 100%;
  font-size: 13px;
  color: #ccc;
}
.txt-13Bk3 {
  font-weight: 400;
  line-height: 100%;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}
.txt-13Gy2 {
  font-weight: 400;
  line-height: 100%;
  font-size: 13px;
  color: #222;
}
.txt-13Gy3 {
  font-weight: 400;
  line-height: 100%;
  font-size: 13px;
  color: #333;
}
.txt-13Gy3-02 {
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #333;
}
.txt-13Gy5 {
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #555;
}
.txt-13Gy6 {
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #666;
}
.txt-13Gy9 {
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #999;
}
.txt-13Gy7 {
  font-weight: 500;
  line-height: 100%;
  font-size: 14px;
  color: #777;
}
.txt-14Gy3 {
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #333;
}
.txt-14Gy2 {
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #222;
}
.txt-14Gy1 {
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #111;
}
.txt-15Bk {
  font-weight: 500;
  line-height: 100%;
  font-size: 15px;
  color: #000;
}
.txt-15 {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #FFFFFF;
}
.txt-16Gy5 {
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  color: #555;
}
.txt-17Bk {
  font-weight: 500;
  line-height: 100%;
  font-size: 17px;
  color: #000;
}
.txt-30Wt {
  font-weight: 400;
  line-height: 100%;
  font-size: 30px;
  color: #fff;
}
.txt-Pu {
  color: #8265F6;
}
.txt-Gr {
  color: #62BD53;
}
.txt-NeonGr {
  color: #36FF03;
}
.txt-pkgr {
  background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-guest {
  color: rgba(102, 102, 102, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-right {
  float: right;
}